# RStudio
.Rproj.user/

# R
.Rhistory
.Rdata
.Ruserdata
.RDataTmp

# Backups
/bak/

# Data
*.dat
*.sas

# Output
*.pptx
*.html
/output/

# Environment/state
/models/
/savestates/

# macOS
.DS_Store
**/.DS_Store

# Windows
desktop.ini
**/desktop.ini
.positai
*.html
*.png
*.PNG
