# RStudio
.Rproj.user/

# R
.Rhistory
.Rdata
.Ruserdata
.RDataTmp

# Backups
/bak/

# Output
*.pptx
/output/

# Environment/state
/models/
/savestates/

# macOS
.DS_Store
**/.DS_Store

# Windows
desktop.ini
**/desktop.ini